@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');



* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    max-width: 1280px;
    /* min-width: 461.33px; */
}


/* ===== Navbar sec ==============*/

nav {

    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    /* height: auto; */
}

.nav-container {

    max-width: 1280px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    align-items: center;
    gap: 280px;
}

.nav-container .logo-container {

    /*  */
    /* border: 1px solid green; */
    padding-left: 150px;
    display: flex;
    width: 50%;

}


.nav-container .logo-container img {
    /*  */
    width: 86.026px;
    height: 40.015px;
    margin-right: 23px;
    margin-top: 50px;
    object-fit: cover;

}

/* title logo text  */
.nav-container .logo-container p {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;

}

.nav-container .nav-btn {

    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    border: none;
    margin-top: -22px;


}

.nav-container .nav-btn .follow {
    display: flex;

    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-shrink: 0;
    height: 56px;
    gap: 5px;
    padding-left: 22px;
}

.nav-items-container {

    /*  */
    /* border: 1px solid blue; */


    margin-left: -250px;
    width: 50%;
}

.nav-items-container a {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-right: 20px;
}

/* end of nav */


/* ===Banner area ============ */

.banner-container {

    /* width: 901px; */


    max-width: 1280px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}


.banner-heading {
    font-size: 40px;


}


.banner-heading .goat {
    font-size: 90px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* button */
.banner-btn-1 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 48px;
    border: none;
    padding: 21px 40px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

    transition: 0.6s ease;
    cursor: pointer;
}

.banner-btn-1:hover {

    box-shadow: 0 0 1rem rgb(247, 31, 67);
}

.banner-btn-2 {
    color: #FFF;
    padding: 21px 40px;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    transition: 0.6s ease;
    cursor: pointer;
}

.banner-btn-2:hover {

    box-shadow: 0 0 2rem #4EC5F7;
}

.banner-img-container {}

/*-==== End of Banner area================================ */



/*--====== Start  We r gamer section ================ */

.about-container {
    max-height: 600px;
    display: flex;
}

.about-text-area {}

.about-text-area h2 {

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.about-text-area .about-desc {

    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.about-text-area .abt-btn {

    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
    /* font style */
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    transition: 0.6s ease;
    cursor: pointer;
    position: relative;
    left: 178px;
}

.about-text-area .abt-btn:hover {

    box-shadow: 0 0 1rem #F948B2;
}

.about-purpose {

    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    /* 187.5% */

}

.about-moral {

    color: #534C64;
    position: relative;
    text-align: end;
    /* top: 20px; */
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

/* End We r gamer */


/* Start  Online Games Funny Videos area */
.card-container {

    height: 595px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-right: 10px; */

    margin-bottom: 10px;
}


.card-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    /* margin-top: 30px; */
}


.card-headings h1 {

    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-headings h1 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.card-box {
    /* box-shadow:  0 0 2px  rgba(0, 0, 0, 0.60) 0%; */
    /* height: 200px; */
    /* border-radius: 26px; */
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat; */
    position: relative;
    overflow: hidden;
}

.card-layer >.watch{
    margin-left: -4px;
    font-size: 10px;
font-style: normal;
font-weight: 700;
}

.card-layer p {
    width: 300px;
    text-align: center; 
    margin-top: -23px;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.card-headings p {

    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.card-img-container .card-box {
    margin: 10px;

    /* box-shadow:  0 0 2px  rgba(0, 0, 0, 0.60) 0%; */
    overflow: hidden;
}

.card-parent p {
    margin-left: 20px;


}

.card-box img {

    width: 100%;
    transition: .5s ease;

}

.card-box:hover img {
    /* border: 2px solid #FF42A5 ; */
    border: none;
    transition: .5s ease;
    /* transform: scale(1.1); */

}

/*  */

.card-box .card-layer {

    border: 2px solid #FF42A5;
    border-radius: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), black);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    /* transform: translateX(100%); */
    transition: .5s ease;
}

.card-box:hover .card-layer {

    transform: translateY(0);
    /* transform: translateX(0); */
}

.card-layer a {

    display: inline-flex;
    justify-content: center;

    align-items: center;
    width: 5rem;
    height: 5rem;

    border-radius: 50%;

}

.card-layer a i {
    font-size: 2rem;
    color: #FF42A5;
}

/*  */

.card-img-container img {
    /* display: flex; */
    /* flex-direction: row;  */
    width: 171px;
    height: 200px;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    /* position: relative; */
    margin: 20px;
    margin: 0 auto;
    /* margin-top: 30px; */
}

.card-img-container p {

    color: #534C64;
    font-family: Work Sans;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 30px; 150% */
}

/*=== End  Online Games Funny Videos area */
/* 

start
Play Instantly, No Downloads No Installs.

*/
.ad-container {


    margin: 0 auto;
    display: flex;

    align-items: center;
    /* justify-content: space-between; */
    flex-direction: row;
    /* margin-left: 400px; */
    margin-top: -100px;
    height: 400px;

}

.ad-texts {
    position: relative;
    left: 327px;
    margin-right: 230px;
    /* width: 395px; */
}


.ad-texts .play-instantly {

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ad-texts h2 {

    text-align: right;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 125% */
    color: #0B0223;
    font-family: Work Sans;
    /* font-size: 38px; */
    font-style: normal;
    /* font-weight: 700; */
    /* line-height: 60px; */
    /* width: 25%; */
}

.ad-texts p {
    color: #534C64;
    text-align: end;
    font-family: Work Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.ad-img {
    margin-left: 300px;
}

.ad-img .man {
    position: relative;
    height: 350px;
    width: 334px;

}

.ad-img .tom {
    position: relative;
    top: -101px;
    left: -99px;

    height: 218px;
    width: 200px;
}

/* end of =========================== */

/*  start Careers sections */


.career-container {
    display: flex;
    /* grid-template-columns: repeat(2, 2fr); */
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

    padding: 40px;
    margin: 0 auto;
    /* width: max-content; */
    /* padding: 10px; */
    /* padding-left: 30px;  */
}

.career-container .pos-city {
    margin-left: -35px;
}

.career-container .career-desc {
    margin-left: 944px;

    /* width: 100%; */
}

.career-container .career-img {
    position: relative;
    /* top: -190px; */
    margin-right: 400px;


}

.career-container .career-img img {
    position: relative;
    /* top: -190px; */
    margin-right: 400px;
    height: 800px;
    left: 45px;
    /* width: 200px; */

}

.career-container .career-desc h2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */

}

.career-container .career-desc p {
    width: 680px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */

}


.career-container .career-desc li {
    list-style: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    /* 200% */
}

.career-container li span {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    /* 200% */
    /* display: flex; */
    justify-content: end;
    text-align: center;
    align-items: center;
    margin-left: 40px;
}

.career-container .career-btn {

    border: none;
    padding: 10px;
    border-radius: 48px;
    font-weight: 600;
    font-size: 16px;
    background: #FFF;
    color: #FF42A5;
}

/*  end of Careers sections */


/* ===========Genre container ============ */

.genre-container {

    /* margin-top: 60px; */
    /* margin-bottom: 90px; */
    margin: 60px auto;
position: relative;
left: 2%;
    display: grid;
    /* grid-template-columns: repeat(7, 1fr); */
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0px;
     justify-content: center;
    align-items: center;
}
.second-btn {

 
    margin-bottom: 90px;

    display: grid;
    /* grid-template-columns: repeat(7, 1fr); */
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
     justify-content: center;
    align-items: center;
    position: relative;
    left: 50px;
}

 
.genre-container .btn {

    /* padding-top: 30px;
    padding-left: 40px; */
    width: 250px;
 
    /* height: 80px; */
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;

    box-shadow: none;
    border: none;
    transition: .5s ease-in;

    display: inline-flex;
    /* gap: 10px; */
    text-align: center;
    align-items: center;


    /* margin-right: 10px; */
}

.second-btn .btn {
    width: 250px;
    /* height: 80px; */
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;

    box-shadow: none;
    border: none;
    transition: .5s ease-in;

    display: inline-flex;
    /* gap: 10px; */
    text-align: center;
    align-items: center;

}

.genre-container .btn img {
    /* margin-left: -37px; */
    margin-right: 20px;
    /* margin: 5px; */
    padding: 3px;
}

 .second-btn .btn  img {
    /* margin-left: -37px; */
    /* margin-right: 10px; */
    /* margin: 5px; */
    padding: 3px;
}

.genre-container .btn:hover {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 90%);
    background-clip: text;

    border: 2px solid #FF42A5;

    box-shadow: 0 0 1rem #FF42A5;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 .second-btn .btn:hover {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 90%);
    background-clip: text;

    border: 2px solid #FF42A5;

    box-shadow: 0 0 1rem #FF42A5;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* end Genre container */



/*  footer section */


.footer {

    width: 1920px;
    height: 636px;
    flex-shrink: 0;
    background: #0B0223;

    text-align: center;
}

.footer-logo {
    justify-content: center;
    align-items: center;
    text-align: center;

}

.footer-logo img {
    justify-content: center;
    align-items: center;
    text-align: center;

}

.footer-logo p {
    margin-left: 23px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: inline-flex;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-text {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;

    margin-bottom: 20px;
}

.footer-text p {
    margin-right: 60px;
}

.footer-icons {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 60px;
}

.footer-icons ico {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.footer-icons a {
    text-decoration: none;
}

.footer-links {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 60px;

    margin-top: 50px;
    /* margin-left: 400px; */

}

.footer-links a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;

}

.copyright {

    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* end  footer section */











/* Media query for Mobile device */

/* mobile device */
@media screen and (max-width:477px) {

    .nav-container {
        flex-direction: column;

        margin: 0 auto;
        position: relative;
        left: 25%;
    }

    .logo-container {
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        left: 67%;
        margin-bottom: -270px;
    }

    .nav-items-container {

        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: relative;
        margin: 0 auto;
        left: 370px;

    }

    .nav-container .logo-container p {
        color: #0B0223;
        font-family: Work Sans;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        margin-top: 89px;
    }

    .nav-container .nav-items-container > a {
        color: #3C354F;
        text-align: center;
        font-family: Work Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 57px;
        margin-bottom: 30px;


    }

    .nav-btn {
        border-radius: 8px;

        background: rgba(11, 2, 35, 0.10);
        border: none;
        position: relative;
        top: 20px;
        left: -50px;
      margin-bottom: 40px;
        /* padding-bottom: 10px; */

    }
.nav-btn .follow{
  /* margin-top:  9px;   */
}
    .follow {
        width: 220px;
    }

  .banner-container{
    display: flex;
    flex-direction: column-reverse;

    position: relative;
    top: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .banner-container .banner-heading{

    position: relative;
    left: 200px;
  }
    .banner-img-container{

        position: relative;
        left: 50%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }





.card-container{

    display: flex;
    flex-direction: column;
}
.card-container .card-img-container{

    display: flex;
    flex-direction: column;
}
.about-container{

    position: relative;
    top: 1000px;
}



.ad-container{

    position: relative;
    top: 750px;

    margin-bottom: 900px;
    display: flex;
    flex-direction: column;
}
.ad-container .ad-texts  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;

}
.play{
    width: max-content;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.ad-texts p{
    width: max-content;
    text-align: center;
    align-items: center;
    justify-content: center;
margin-bottom: 20px;
}
/* body ,nav , div{
    align-items: center;
    justify-content: center;
} */
.career-container{


    width: max-content;
    height: max-content;

    display: flex;
    flex-direction: column;
    margin-top: 400px;

    margin-bottom: 400px;
}
.career-container .career-desc {
    position: relative;
    margin-left: -426px;
}
.genre-container{ 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    position: relative;
    left: 500px;
    margin-bottom: 0;
}
.second-btn{
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    position: relative;
    left: 500px;  
}
.footer {

    display: flex;
    flex-direction: column;

    height: max-content;
}
 
.footer .footer-icons , .footer-text 
{

    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
   grid-template-columns: repeat(3,1fr);
   
}
.footer-links {
position: relative;
    text-align: justify;

    display: grid;
   grid-template-columns: repeat(2,1fr);
    
}
.copyright{
position: relative;

    text-align: center;
    justify-content: center;
    align-items: center;
}
}

/* For teblet design */
/* min - 426  max- 768 */
@media screen and (max-width: 768px) {}